.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header__menu {
    display: none;
}

.header__bars {
    color: var(--clr-light);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
}

/* xs */
/*@media (min-width: 475px) {}*/

/* sm */
/*@media (min-width: 640px) {}*/

/* m */
@media (min-width: 768px) {
    .header__menu {
        display: flex;
        align-items: center;
        gap: 2em;
        list-style: none;
    }

    .header__link {
        font-size: var(--size-base);
        color: var(--clr-slate400);
        text-decoration: none;
        cursor: pointer;
        transition: color 0.3s;
    }

    .header__link:hover {
        color: var(--clr-emerald);
    }

    .header__line {
        border: 1px solid var(--clr-slate400);
        padding-top: 1.5em;
    }

    .header__bars {
        display: none;
    }

    .header__sun {
        display: block;
        color: var(--clr-slate400);
        width: var(--size-base);
        height: var(--size-base);
    }
}

/* l */
@media (min-width: 1024px) {
    .header__link {
        font-size: var(--size-sm)
    }

    .header__sun {
        width: var(--size-xl);
        height: var(--size-xl)
    }

    .header__btn {
        font-size: var(--size-sm);
    }
}

/* xl */
/*@media (min-width: 1280px) {}*/

/* xxl */
/*@media (min-width: 1536px) {}*/